.teste{
    background-color: red;
}

.products{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productSection{
    background: linear-gradient(to bottom, #ffffff 0%, #c5c5c5 20%, #c5c5c5 100%);
    padding: 30px 5px 30px 15px;
    margin: 0px;
    margin-top: 10px;
}

.title{
    font-size: 3em;
}