.teste{
    background-color: red;
}

.products{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productSection{
    background-color: #fff;
    padding: 5px;
    padding-bottom: 30px;
    margin: 0;
}

.title{
    font-size: 3em;
}