.card {
    width: 280px;
    min-width: 280px;
    height: 400px; /* Define uma altura fixa para o card */
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    perspective: 1000px;
    cursor: pointer;
    position: relative;
}

.card .front,
.card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Espaça os itens para que o botão fique fixo embaixo */
    /* padding: 20px; */
    padding-bottom: 10px;
    box-sizing: border-box;
}

.card .front {
    transform: rotateY(0deg);
}

.card .back {
    transform: rotateY(180deg);
    background-color: #ececec;
    padding: 20px;
}

.card.flipped .front {
    transform: rotateY(180deg);
}

.card.flipped .back {
    transform: rotateY(0deg);
}

.card .imagem {
    width: 100%;
    height: 160px;
    object-fit: contain;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
}

.card .title {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0px;
    font-weight: bold;
    text-align: center;
}

.card .description,
.card .detailedDescription {
    font-size: 1em;
    color: #666;
    margin: 10px;
    line-height: 1.5;
    text-align: center;
    flex-grow: 1; /* Permite que o texto ocupe o espaço disponível */
}

.card .cta {
    margin-top: 10px;
    padding: 10px;
    background-color: #008cba;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.card .cta:hover {
    background-color: #00688b;
}
