.homeSection {
    padding-top: 80px; /* ajuste para a altura do header */
    background-color: white;
    min-height: 400px;
    display: flex;
    overflow: visible; /* Para que o carro não seja visível fora da área */
    flex-wrap: wrap;
    height: fit-content;
}

.aux, .content {
    flex: 1;
}

.content {
    background-color: #008cba;
    border-radius: 0px 100px;
    padding: 15px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    z-index: 999;
    min-width: 200px;
    font-size: 1.5em;
    overflow: visible;
}

.content>h1{
    font-size: 2em;
}
@media(max-width: 600px){
    .aux{
        min-height: 250px ;
    }
}

.aux {
    z-index: 998;
    animation: eusoulindo 2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teste{
    height: 150px; 
    width: auto;
}

@keyframes eusoulindo {
    0% {
        transform: scale(0.5); /* Tamanho inicial e posição do carro */
    }
    100% {
        transform: scale(1); /* Tamanho final e posição do carro */
    }
}
