@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.homeSection {
    font-family: 'Roboto', sans-serif;
    padding-top: 80px;
    background-color: #f0f3f8;
    min-height: 400px;
    padding: 15px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    min-width: 200px;
    font-size: 1.5em;
    color: #464646;
}

.homeSection>h1{
    font-size: 2em;
}

.homeSection>p{
    font-weight: lighter;
}
