@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.homeSection {
    font-family: 'Roboto', sans-serif;
    padding: 15px 200px;
    padding-top: 100px;
    background-color: #f0f3f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    min-width: 200px;
    font-size: 1.5em;
    color: #464646;
}
@media(max-width: 999px) {
    .homeSection{
        padding: 15px 30px;
        padding-top: 80px;
    }
    .homeSection>p{
        display: none;
    }
    .homeSection>h1{
        font-size: 1.5em;
    }

}
.homeSection>h1{
    font-size: 2em;
}

.homeSection>p{
    font-weight: lighter;
}
