.footer{
    background-color: ffffffde;
    color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px;
}

.contact span{
    display: block;
}

.contact{
    text-align: center;
}