.footer{
    background-color: ffffffde;
    color: green;
    display: flex;
    flex-direction: row;
    padding: 0px 30px;
}

.contactItem{
    display: block;
}

.contact{
    flex: 1;
}

.logo{
    flex: 1;
}

.inputEmail{
    border: none;
    background-color: #ffffff04;
    border-bottom: 1px solid black;
    padding: 10px;
}

@media screen and (max-width: 960px) {
    .footer {
        flex-wrap: wrap;
    }  
}