:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  /* font-weight: 400; */

  color-scheme: light dark;
  color: #242424;
  background-color: #dddddd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}
body{
  background-color: #f0f3f8;
}

.Construção{
  font-size: 3em;
  color: #525252;
  text-align: center;
  margin: 50px;
  
}

.teste{
  margin-right: 30px;
}

.foto1{
  height: 600px;
}

.imagens{
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
}